recherche-perplexity.json
{
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "efbe7563-8502-407e-bfa0-a4a26d8cddd4",
                "name": "user",
                "type": "string",
                "value": "={{ $('When Executed by Another Workflow').item.json.topic }}"
              },
              {
                "id": "05e0b629-bb9f-4010-96a8-10872764705a",
                "name": "system",
                "type": "string",
                "value": "Assistant is a large language model.  Assistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.  Assistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.  Overall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.  "
              }
            ]
          },
          "options": {}
        },
        "id": "38f331fa-b4bb-4bb5-be98-f42c69bb441d",
        "name": "Prompts",
        "type": "n8n-nodes-base.set",
        "position": [
          500,
          -620
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "7e2679dc-c898-415d-a693-c2c1e7259b6a",
                "operator": {
                  "type": "string",
                  "operation": "notContains"
                },
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.topic }}",
                "rightValue": "undefined"
              }
            ]
          },
          "options": {}
        },
        "id": "735607b2-e4fd-4b38-b770-23eac9c5607f",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "position": [
          280,
          -520
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {},
        "id": "6841f61a-b31c-43be-9a6d-d120a74c6b9e",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          500,
          -400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb89464a-5919-4962-880c-3f5903e267de",
                "name": "response",
                "type": "string",
                "value": "={{ $('Perplexity').item.json.choices[0].message.content }}"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "cb564395-a1f3-4865-bc18-f2de5b18d90d",
        "name": "Success Response",
        "type": "n8n-nodes-base.set",
        "position": [
          900,
          -620
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb89464a-5919-4962-880c-3f5903e267de",
                "name": "response",
                "type": "string",
                "value": "=Error.  No topic provided."
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "7af57c34-d2d6-48b7-b37a-fa86302608c7",
        "name": "Error Response",
        "type": "n8n-nodes-base.set",
        "position": [
          900,
          -400
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.perplexity.ai/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $json.system }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.user }}\"\n    }\n  ],\n  \"max_tokens\": \"4000\",\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_citations\": true,\n  \"search_domain_filter\": [\n    \"perplexity.ai\"\n  ],\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}",
          "options": {}
        },
        "id": "9f7a8cda-8157-49dc-a536-8461208d4a08",
        "name": "Perplexity",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          700,
          -620
        ],
        "typeVersion": 4.2,
        "credentials": {
          "httpHeaderAuth": {
            "id": "b1QqaUzz6qEJNMua",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"topic\": \"{{ $json.text }}\"\n}"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -240,
          -520
        ],
        "id": "a6fc50dd-5f29-4183-a5c8-a2640688a910",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Prompts": {
        "main": [
          [
            {
              "node": "Perplexity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Prompts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Perplexity": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "a89ff51014f84c47ef4d4895b220e462755d019d580bee747c11ae9b6bc115eb"
    }
  }